*{
    background-image: url(red-black-lines-photy.org.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

font-family: Fjalla One;
margin: 0;
border: 0;
padding: 0;
color: white;
}

html{
background-color: brown;
}

.ptable table{
margin: 30px auto;
border-collapse: collapse;
}

.ptable{
margin: 0px 0% 30px 0%;
}

th, td {
padding: 10px;
}

th{
background-color: black;
color: white;
}

.headin{
text-align: center;
text-decoration: none;
color: white;
margin: 30px;
display: block;
}

.wpos{
text-align: center;
}

.wpos td{
color: greenyellow;
}

.pos{
text-align: center;
}

.pos td{
color: blanchedalmond;
}

table .col{
border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
background-color: greenyellow;
}

.wpos:hover td{
color: #000000;
}

.pos:hover{
background-color: blanchedalmond;
}

.pos:hover td{
color: #000000;
}
header{
position: absolute;
top: 0; left: 0;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo{
position: relative;
font-size: 30px;
text-decoration: none;
color: #fff;
font-weight: 600;
}
header ul{
position: relative;
display: flex;
}
header ul li{
list-style-type: none;
}
header ul li a{
display: inline-block;
color: #fff;
font-weight: 400;
margin-left: 40px;
text-decoration: none;
}